.SearchResults {
  background: #f5f6f7;
  padding: 80px 0;
}

.SearchResults__items {
  max-width: 1232px;
  margin: auto;
  padding: 0 16px;
}

.SearchResults__header {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0;
  padding-bottom: 64px;
}

@media screen and (max-width: 1439px) {
  .SearchResults {
    padding-top: 40px;
  }

  .SearchResults__items {
    max-width: 688px;
  }

  .SearchResults__header {
    font-size: 30px;
    line-height: 34px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .SearchResults {
    padding-top: 32px;
  }

  .SearchResults__items {
    max-width: 586px;
  }

  .SearchResults__header {
    padding-bottom: 58px;
  }
}

@media screen and (max-width: 617px) {
  .SearchResults__items {
    max-width: 288px;
  }
}
