.About {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  max-width: 1232px;
  margin: auto;
}

.About__image {
  width: 464px;
  height: 464px;
  border-radius: 1000px;
  object-fit: cover;
}

.About__text {
  margin-left: 56px;
  padding-top: 51px;
  max-width: 600px;
}

.About__header {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 0;
}

.About__description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0;
  margin-top: 24px;
}

@media screen and (max-width: 1439px) {
  .About {
    padding-top: 40px;
    padding-bottom: 61px;
    max-width: 688px;
  }

  .About__image {
    width: 232px;
    height: 232px;
    margin-top: 21px;
  }

  .About__text {
    padding-top: 0;
    max-width: 424px;
    margin-left: 32px;
  }

  .About__header {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .About {
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 128px;
  }

  .About__image {
    width: 272px;
    height: 272px;
    margin: auto;
  }

  .About__text {
    padding-top: 24px;
    max-width: 100vw;
    margin-left: 16px;
    margin-right: 16px;
  }

  .About__description {
    margin-top: 16px;
  }
}
