.Navigation__nav-list {
  padding: 0;
  margin: 0;
}

.Navigation__nav-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
  padding: 30px 32px 22px;
  border-bottom: 3px solid;
  color: #fff;
}

@media screen and (max-width: 1439px) {
  .Navigation__nav-link {
    font-size: 16px;
    padding: 22px 16px 16px;
    padding-top: 22px;
    padding-bottom: 16px;
  }
}
