.block {
  height: 80px;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  position: relative;
  background: rgba(196, 196, 196, 0.01);
}

.items {
  max-width: 1232px;
  padding: 0 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding-top: 30px;
  color: #fff;
}

.actions {
  display: flex;
}

.navList {
  padding: 0;
  margin: 0;
}

.navLink {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
  padding: 30px 32px 22px;
  border-bottom: 3px solid;
  color: #fff;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 176px;
  height: 48px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 100px;
  margin-top: 19px;
  margin-left: 32px;
  padding: 0;
  background: rgba(0, 0, 0, 0);
  color: #fff;
}

@media screen and (max-width: 1439px) {
  .block {
    height: 66px;
  }

  .logo {
    padding-top: 22px;
  }

  .navLink {
    font-size: 16px;
    padding: 22px 16px 16px;
    padding-top: 22px;
    padding-bottom: 16px;
  }

  .button {
    width: 152px;
    height: 40px;
    margin-top: 14px;
    margin-left: 16px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .block {
    height: 56px;
  }

  .items {
    padding: 0 16px;
  }

  .logo {
    padding-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  .actions {
    display: none;
  }
}
