.Navigation__nav-list {
  padding: 0;
  margin: 0;
}

.Navigation__nav-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 23px;
  padding-left: 32px;
  border-bottom: 3px solid;
  color: #fff;
}
