.block {
  background-image: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.webp);
  background-size: cover;
  background-position: center;
}

.backgroundFilter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
