.block {
  max-width: 1232px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.copyright {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  color: #b6bcbf;
  padding-top: 32px;
  white-space: nowrap;
}

.list {
  display: grid;
  grid: 80px / 112px 192px 62px 48px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.listItem {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  list-style-type: none;
  text-align: center;
}

.link {
  color: #1a1b22;
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
}

.icon_github {
  color: #191717;
}

.icon_linkedin {
  color: #000;
}

@media screen and (max-width: 1439px) {
  .copyright {
    padding-top: 24px;
  }

  .list {
    grid-template-rows: 64px;
  }
}

@media screen and (max-width: 767px) {
  .block {
    flex-direction: column-reverse;
    padding: 5px 18px 16px 16px;
  }

  .copyright {
    padding-top: 18px;
    white-space: normal;
  }

  .list {
    grid: [row0] auto [row1] auto [row2] / [col0] 200px [col1] auto [col2] 48px [col3];
  }

  .listItem {
    line-height: 48px;
    text-align: left;
  }

  .listItem:nth-of-type(2) {
    grid-column: col0 / col2;
    grid-row: row1;
  }

  .listItem_type_icon {
    text-align: right;
  }
}
