.NewsCardList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (max-width: 1439px) {
  .NewsCardList {
    gap: 8px;
  }
}

@media screen and (max-width: 767px) {
  .NewsCardList {
    gap: 10px;
    margin: auto;
  }
}
